@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Conquerors of Rognar</h1>
    <p class="lead">Conquerors of Rognar is a browser-based MMORPG about a distant, medieval world called Rognar.<br /></p>
    
    <div class="text-center">
        <img style="max-width:100%;" src="~/Content/images/mainpic.png" />
    </div>
    <p style="max-width:50%"><a href="/Home/Register" class="btn btn-primary btn-lg">Register now! &raquo;</a></p>
</div>

<div class="row">
    
</div>