
@{
    ViewBag.Title = "Logout";
}
<script>
    setTimeout(function () { window.location.href = "/Home/Index"; }, 5000);
</script>
<h2>Logout</h2>
<h3>You were succesfully <strong>logged out.</strong></h3>

